@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background: #F5F5F5;
    min-width: 1250px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    width: 100%;
    height: 626px;
    background: url(img/headerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 49px;
}

.header__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 95px;
}

.logo {
    height: 59px;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    color: #F1F1F1;
}

.header__nav-list-none {
    display: none;
}

.burger {
    display: none;
}

.header__nav-item {
    margin-right: 27px;
}

.header__nav-item:hover {
    cursor: pointer;
}

.header__nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
}

.header__nav-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__nav-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header__nav-mail {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
}

.header__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 118px;
}

.header__title-main {
    height: 46px;  
    font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #FDFDFD;
    opacity: 0.77;
    margin-bottom: 25px;
}

.header__title-text {
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FDFDFD;
    opacity: 0.77;
}

.header_input {
    display: flex;
    justify-content: center;
    max-width: 852px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header_input-search {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;
}

.header_input-btn {
    position: absolute;
    right: 0;
}

.btn {
    position: relative;
    min-width: 159px;
    height: 48px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    border-radius: 35px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-image-slice: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #010424;
    opacity: 0.77;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 35px; 
    padding: 2px; 
    background:linear-gradient(rgba(38, 223, 7, 1), rgba(232, 2, 2, 1), rgba(255, 230, 0, 1)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
}

.btn:hover {
    cursor: pointer;
}

.catalog {
    background: #F5F5F5;
    padding-bottom: 114px;
}

.stick {
    height: 40px;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #D7DCE7;
    margin-bottom: 10px;
}

.catalog__title {
    text-align: center;
    height: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #01237D;
    margin-bottom: 40px;
}

.swiper {
    width: 100% !important;
    height: 840px !important;
}

.swiper-wrapper {
    height: 800px !important;
}

.catalog__cards-card {
    width: 288px !important;
    height: 350px !important;
    border-radius: 8px !important;
    background: #FFFFFF !important;
    padding: 0 10px 45px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-right: 24px !important;
    margin-bottom: 24px !important;
    transition: all .5s ease-in-out !important;
}

.catalog__cards-card:nth-child(4n) {
    margin-right: 0px;
}

.catalog__cards-card:hover .catolog__cards-stick{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.catalog__cards-card:hover {
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(45, 65, 114, 0.2);
    transition: all .5s ease-in-out;
}

.catalog__cards-img {
    position: relative;
    width: 288px;
    height: 270px;
    border-radius: 8px;
    overflow: hidden;
}

.catalog__cards-img-1 {
    position: absolute;
}

.catalog__cards-img-2 {
    position: absolute;
    top: 36px
}

.catalog__cards-img-3 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.catalog__cards-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5B6276;
    margin-top: 8px;
}

.catolog__cards-stick {
    opacity: 1;
    position: absolute;
    width: 40px;
    height: 4px;
    left: 176px;
    top: 346px;
    background: #D7DCE7;
    transition: opacity 1s ease-in-out;
}

.catalog__arrow {
    width: 120px;
    height: 40px;
    display: flex !important;
    justify-content: start !important;
    position: relative;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: url(img/cards/arrow-right-circle.svg) !important;
    margin-right: 43px !important;
    top: 0;
    left: 0;
}

.catalog__arrow-left:hover {
    cursor: pointer !important;
}

.swiper-button-next::after {
    display: none;
}

.catalog__arrow-right {
    width: 40px !important;
    height: 40px !important;
    background: url(img/cards/arrow-right-circle.svg) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}

.catalog__arrow-right:hover {
    cursor: pointer !important;
}

.geography {
    width: 100%;
    height: 657px;
    background: linear-gradient(224.82deg, #030B41 0.85%, #000B52 57.3%, #1900AE 102.14%), #000C52;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.geography__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.geography__bg {
    width: 900px;
    height: 528px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.geography__bg-img {
    width: 1226px;
    height: 799px;
    object-fit: cover;
    transform: translateX(-80px);
}

.geography__card {
    position: absolute;
    display: flex;
    z-index: 2;
}

.geography__card:hover {
    cursor: pointer;
}

.N {
    top: 186px;
    left: 118px;
}

.C {
    top: 251px;
    left: 79px;
}

.S {
    top: 355px;
    left: 41px;
}

.U {
    top: 260px;
    left: 321px;
}

.P {
    top: 330px;
    left: 235px;
}

.Si {
    top: 404px;
    left: 419px;
}

.V {
    top: 205px;
    left: 592px;
}

.geography__card-img {
    width: 32px;
    color: #D7DCE7;
    opacity: .4;
    transition: all .5s ease;
    margin-right: 10px;
}

.geography__card:hover .geography__card-img {
    opacity: 1;
    transition: all .5s ease;
}

.geography__card-text {
    font-size: 14px;
    color: #D7DCE7;
    opacity: .4;
    transform: translate(0, 12px);
    transition: all .5s ease;
}

.geography__card:hover .geography__card-text {
    font-size: 16px;
    opacity: 1;
    transition: all .5s ease;
}

.geography__info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    transform: translateX(10px);
}

.geography__info-title {
    font-style: normal;
    font-weight: 450;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FDFDFD;
    margin-bottom: 10px;
}

.geography__info-stick {
    width: 40px;
    height: 0px;
    left: 1182px;
    top: 2067.59px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    margin-bottom: 18px;
}

.geography__info-text {
    width: 500px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(253, 253, 253, 0.8);
}

.basket {
    position: sticky;
    width: 96px;
    height: 96px;
    left: 1920px;
    top: 510px;
    background: url(img/bucket.svg) center no-repeat, linear-gradient(224.82deg, #010B4B 0.85%, #1900AE 58.45%, #4731FC 102.14%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px 0px 0px 6px;
    z-index: 2;
}

.basket:hover {
    cursor: pointer;
}

.backet-sum {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #9093E8;
    transform: translate(72px, 15px);
    padding: 4px 0;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}

.about {
    width: 100%;
    padding-bottom: 200px;
    position: relative;
    width: 100%;
}

.about__bg {
    height: 100%;
    width: 100%;
    background: url(img/back.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.about__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title-main {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #01237D;
    margin-bottom: 30px;
}

.about__title-text {
    width: 591px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #5B6276;
    margin-bottom: 109px;
}

.about__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.about__cards-card {
    width: 220px;
    height: 220px;
    background: linear-gradient(224.82deg, #010B4B 0.85%, #1900AE 58.45%, #4731FC 102.14%);
    border-radius: 6px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about__cards-card-img {
    width: 64px;
    height: 64px;
}

.about__cards-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FDFDFD;
}

.about__cards-card-bg {
    opacity: 0;
    position: absolute;
    top: -90px;
    left: -65px;
    width: 394px;
    height: 389px;
    background: url(img/about/Group\ 13.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: opacity .5s ease-in-out;
}

.about__cards-card:hover {
    cursor: pointer;
}

.about__cards-block {
    display: block;
    cursor: pointer;
    position: relative;
}

.about__cards-block:hover .about__cards-card-bg {
    opacity: 1;
    position: absolute;
    top: -90px;
    left: -65px;
    width: 394px;
    height: 389px;
    background: url(img/about/Group\ 13.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: opacity .5s ease-in-out;
}

.form {
    width: 100%;
    background: linear-gradient(224.82deg, #030B41 0.85%, #000B52 57.3%, #1900AE 102.14%), #000C52;
    background-image: url(img/form.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 100px;
}

.form__title-main {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    text-transform: uppercase;
    color: #FDFDFD;
    margin-bottom: 10px;
}

.form__title-stick {
    width: 40px;
    height: 0px;
    left: 1182px;
    top: 2067.59px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    margin-bottom: 40px;
}

.form__title-text {
    width: 650px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: rgba(253, 253, 253, 0.8);    
    margin-bottom: 90px;
}

.form__input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form__input-name {
    width: 488px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;;
}

.form__input-tel {
    width: 488px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;
}

.form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(253, 253, 253, 0.6);
}

.form-text-link {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #0C1431;
    padding-top: 63px;
    padding-bottom: 60px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts-img {
    transform: translateY(5px);
}

.footer__contacts-img:hover {
    cursor: pointer;
}

.footer__contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(241, 241, 241, 0.8);
}

.footer__contacts-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 30px;
}

.footer__contacts-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #F1F1F1;
    margin-left: 30px;
}

.footer__menu-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
    margin-bottom: 16px;
}

.footer__menu-list {
    position: relative;
    margin-bottom: 92px;
}

.footer__menu-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(241, 241, 241, 0.7);
    margin-bottom: 8px;
    transition: all .5s ease-in-out;
}

.footer__menu-item:hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.footer__menu-item:hover::before {
    position: absolute;
    content: "";
    width: 16px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    top: 8px;
    transform: translateX(-24px);
    transition: all .5s ease-in-out;
}

.footer__menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: rgba(244, 244, 244, 0.5);
}

.footer__catalog {
    width: 600px;
    height: 290px;
}

.footer__catalog-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
    margin-bottom: 16px;
}

.footer__catalog-list {
    column-count: 2;
}

.footer__catalog-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(241, 241, 241, 0.7);
    margin-bottom: 8px;
    transition: all .5s ease-in-out;
}

.footer__catalog-item:hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.footer__catalog-item:hover::before {
    position: absolute;
    content: "";
    width: 16px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    top: 8px;
    transform: translateX(-24px);
    transition: all .5s ease-in-out;
}

.none {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #0C1431;
    margin-bottom: 8px;
}

.footer__bottom {
    height: 48px;
    background-color: #0A122D;
}


@media screen and (max-width: 360px) {

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background: #F5F5F5;
    min-width: 360px;
    overflow-x: hidden;
}

.header {
    top: 0;
    position: relative;
    min-height: 496px;
    background: url(img/bg-360.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 103px;
    margin-bottom: 15px;
}

.container {
    max-width: 360px;
    padding-left: 16px;
    padding-right: 16px;
}

.burger {
    display: flex;
    align-items: center;
}

.burger:hover {
    cursor: pointer;
}

.burger__block-btn {
    display: flex;
    flex-direction: column;
    margin-right: 7px;
}

.burger__block-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.77;
}

.burger__block-btn-top {
    width: 32px;
    height: 3px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    margin-bottom: 5px;
}

.burger__block-btn-middle {
    width: 32px;
    height: 3px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    margin-bottom: 5px;
}

.burger__block-btn-bottom {
    width: 18px;
    height: 3px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
}

.header__nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.logo {
    width: 127px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.collaps {
    width: 100%;
    height: 178px;
    position: relative;
    opacity: 1;
    transform: translateX(16px);
    transition: all .5s ease-in-out;
}

.header__nav-list {
    display: none;
}

.header__nav-list-none {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: #F1F1F1;
    background: #00144A;
    padding: 40px 20px;
}

.header__nav-item-none {
    margin-right: 27px;
    padding-bottom: 5px;
    transition: all .5s ease-in-out;
}

.header__nav-item-none:hover {
    cursor: pointer;
    transform: translateX(10px);
    transition: all .5s ease-in-out;
}

.header__nav-link-none {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
}

.header__nav-contacts {
    position: absolute;
    top: 0;
    left: -16px;
    width: 360px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around !important;
    background: #00144A;
    padding: 11px 0;
}

.header__nav-tel,
.header__nav-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: rgba(241, 241, 241, 0.7);
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 45px;
}

.header__title-main {
    width: 328px;
    height: 52px;
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FDFDFD;
    opacity: 0.77;
    margin-bottom: 16px;
}

.header__title-text {
    width: 200px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FDFDFD;
    opacity: 0.77;
}

.header_input {
    width: 328px;
    height: 120px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    position: relative;
}

.header_input-search {
    width: 328px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;
}

.header_input-btn {
    position: absolute;
    right: 0;
    top: 72px;
}

.btn {
    width: 328px;
    height: 48px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    border-radius: 35px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-image-slice: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #010424;
    opacity: 0.77;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 35px; 
    padding: 2px; 
    background:linear-gradient(rgba(38, 223, 7, 1), rgba(232, 2, 2, 1), rgba(255, 230, 0, 1)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
}

.btn:hover {
    cursor: pointer;
}

.catalog {
    background: #F5F5F5;
    padding-bottom: 67px;
}

.stick {
    height: 40px;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #D7DCE7;
    margin-bottom: 8px;
}

.catalog__title {
    text-align: center;
    height: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #01237D;
    margin-bottom: 24px;
}

.swiper {
    width: 100% !important;
    height: 565px !important;
}

.swiper-wrapper {
    height: 500px !important;
}

.catalog__cards-card {
    width: 160px !important;
    height: 232px !important;
    border-radius: 8px !important;
    background: #FFFFFF !important;
    padding: 0 8px 16px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-right: 8px !important;
    margin-bottom: 16px !important;
    transition: all .5s ease-in-out !important;
}

.catalog__cards-card:nth-child(2n) {
    margin-right: 0px;
}

.catalog__cards-card:hover .catolog__cards-stick{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.catalog__cards-card:hover {
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(45, 65, 114, 0.2);
    transition: all .5s ease-in-out;
}

.catalog__cards-img {
    position: relative;
    width: 160px;
    height: 164px;
    border-radius: 8px;
    overflow: hidden;
}

.catalog__cards-img-1 {
    width: 160px;
    height: 51px;
    position: absolute;
}

.catalog__cards-img-2 {
    width: 44px;
    height: 51px;
    position: absolute;
    top: 36px
}

.catalog__cards-img-3 {
    width: 44px;
    height: 51px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.catalog__cards-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5B6276;
    margin-top: 8px;
}

.catolog__cards-stick {
    opacity: 1;
    position: absolute;
    width: 40px;
    height: 2.6px;
    left: 88px;
    top: 230px;
    background: #D7DCE7;
    transition: opacity 1s ease-in-out;
}

.catalog__arrow {
    width: 120px;
    height: 40px;
    display: flex !important;
    justify-content: start !important;
    position: relative;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: url(img/cards/arrow-right-circle.svg) !important;
    margin-right: 43px !important;
    top: 0;
    left: 0;
}

.catalog__arrow-left:hover {
    cursor: pointer !important;
}

.swiper-button-next::after {
    display: none;
}

.catalog__arrow-right {
    width: 40px !important;
    height: 40px !important;
    background: url(img/cards/arrow-right-circle.svg) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}

.catalog__arrow-right:hover {
    cursor: pointer !important;
}

.geography {
    width: 100%;
    height: 764px;
    background: linear-gradient(224.82deg, #030B41 0.85%, #000B52 57.3%, #1900AE 102.14%), #000C52;
    /* display: flex;
    align-items: center; */
    margin-bottom: 45px;
}

.geography__bg {
    width: 360px;
    height: 528px;
    /* display: flex;
    justify-content: start;
    align-items: center; */
    position: relative;
}

.geography__bg-img {
    width: 420px;
    height: 799px;
    position: absolute;
    left: 0;
    object-position: -100px 0;
}

.geography__info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    z-index: 2;
    position: absolute;
    left: -10px;
    top: -40px;
}

.geography__info-title {
    font-style: normal;
    font-weight: 450;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #FDFDFD;
    margin-bottom: 10px;
}

.geography__info-stick {
    width: 40px;
    height: 0px;
    left: 1182px;
    top: 2067.59px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    margin-bottom: 18px;
}

.geography__info-text {
    width: 328px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: rgba(253, 253, 253, 0.8);
}

.Si {
    display: none;
}

.V {
    display: none;
}

.basket {
    position: sticky;
    width: 72px;
    height: 72px;
    left: 360px;
    top: 510px;
    background: url(img/bucket.svg) center no-repeat, linear-gradient(224.82deg, #010B4B 0.85%, #1900AE 58.45%, #4731FC 102.14%);
    background-size: 43px, 41px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px 0px 0px 6px;
    z-index: 2;
}

.basket:hover {
    cursor: pointer;
}

.backet-sum {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #9093E8;
    transform: translate(45px, 10px);
    padding: 4px 0;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
}

.about__title-main {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #01237D;
    margin-bottom: 30px;
}

.about__title-text {
    width: 330px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #5B6276;
    margin-bottom: 109px;
}

.about__cards-block {
    margin-bottom: 16px;
}

.form {
    width: 100%;
    background: linear-gradient(224.82deg, #030B41 0.85%, #000B52 57.3%, #1900AE 102.14%), #000C52;
    background-image: url(img/form.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.form__title-main {
    width: 250px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FDFDFD;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form__title-stick {
    width: 40px;
    height: 0px;
    left: 1182px;
    top: 2067.59px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.form__title-text {
    width: 328px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: rgba(253, 253, 253, 0.8);    
    margin-bottom: 90px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    margin-bottom: 8px;
}

.form__input-name {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 16px;
}

.form__input-tel {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 16px;
}

.form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(253, 253, 253, 0.6);
    text-align: center;
}

.form-text-link {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #0C1431;
    padding-top: 35px;
    padding-bottom: 24px;
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts-list {
    margin-top: 32px;
}

.footer__contacts-img {
    transform: translateY(5px);
}

.footer__contacts-img:hover {
    cursor: pointer;
}

.footer__contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(241, 241, 241, 0.8);
}

.footer__contacts-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 30px;
}

.footer__contacts-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #F1F1F1;
    margin-left: 30px;
}

.footer__menu-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
    margin-bottom: 16px;
    margin-top: 40px;
}

.footer__menu-list {
    position: relative;
    margin-bottom: 0px;
}

.footer__menu-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(241, 241, 241, 0.7);
    margin-bottom: 8px;
    transition: all .5s ease-in-out;
}

.footer__menu-item:hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.footer__menu-item:hover::before {
    position: absolute;
    content: "";
    width: 16px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    top: 8px;
    transform: translateX(-24px);
    transition: all .5s ease-in-out;
}

.footer__menu-links {
    display: none;
}

.footer__catalog {
    margin-top: 56px;
}

.footer__catalog-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #F1F1F1;
    margin-bottom: 16px;
}

.footer__catalog-list {
    column-count: 1;
}

.footer__catalog-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(241, 241, 241, 0.7);
    margin-bottom: 8px;
    transition: all .5s ease-in-out;
}

.footer__catalog-item:hover {
    position: relative;
    cursor: pointer;
    background: linear-gradient(101.49deg, #A5A8F5 17.34%, #B8BAF5 53.55%, #9296F7 86.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 20px;
    transition: all .5s ease-in-out;
}

.footer__catalog-item:hover::before {
    position: absolute;
    content: "";
    width: 16px;
    border: 2px solid rgba(164, 167, 226, 0.4);
    top: 8px;
    transform: translateX(-24px);
    transition: all .5s ease-in-out;
}

.none {
    display: none;
}


.footer__bottom {
    height: 48px;
    background-color: #0A122D;
}

.display-none {
    height: 0;
    opacity: 0;
    visibility: inherit;
    transform: translateX(300px);
    transition: all .5s ease-in-out;
}

}